<div class="login-page">
    <div class="form-container" *ngIf="!user">
        <h2>Login</h2>
        <button class="sign__button" mat-raised-button appGoogleAuth>
            <mat-icon>
                <img class="sign__button__logo" src="/assets/icons8-google-48.png" />
            </mat-icon>
            <span>Login With Google</span>
        </button>
        <p style="font-weight: 900;">OR</p>
        <app-login-signup [type]="'signup'"></app-login-signup>
    </div>
    <div *ngIf="user" class="logged">
        <p>
            Logged in as <strong>{{user.email}}</strong>
        </p>
        <button mat-stroked-button (click)="auth.signOut()">Sign Out</button>
    </div>
</div>