.dialog-container{
    padding: 20px;
    color: #fff;
}

.u-space-sm{
    margin-right: 10px;
}

.u-mt-sm{
    margin-top: 20px;
}

.blue { color: #71deff;  }
.green { color: #36e9b6;  }
.yellow { color: #ffcf44;  }
.purple { color: #b15cff; }
.red { color: #e74a4a; }

.gray { color: gray; }