.outer-card {
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    background: #212121;
  }
  
  .inner-card {
      margin: 5px 0;
      cursor: pointer;
  }

  .cdk-drag-animating {
    transition: transform 300ms ease;
  }
  
  .tasks.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
  }

.cdk-drag-placeholder {
  opacity: 0.5;
}

.tasks{
    margin-top: 10px;
}

.task__card{
    padding : 20px;
}

.header{
    display : flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.mat-mdc-outlined-button>.mat-icon{
    margin-right: 0;
    margin-left: 0;
}
.mat-mdc-unelevated-button>.mat-icon{
    margin-right: 0;
    margin-left: 0;
}

.space-sm{
    margin-right: 10px;
}

.card-title{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.blue { background: #71deff; color: black; }
.green { background: #36e9b6; color: black;  }
.yellow { background: #ffcf44; color: black; }
.purple { background: #b15cff; }
.red { background: #e74a4a; }

.gray { background: gray; text-decoration: line-through; }